[user]
	email = hanno@hanno-rein.de
	name = Hanno Rein
[receive]
	denyCurrentBranch = warn
[diff]
	tool = vimdiff
[color]
	ui = auto
[push]
	default = simple
[merge "verify"]
    name = merge and verify driver
    driver = ./merge-and-verify-driver %A %O %B
[core]
	pager = less -F -X
