snippet env
\begin{${1:enumerate}}
	$0
\end{$1}
endsnippet

snippet eqn
\begin{eqnarray}
	$0
\end{eqnarray}
endsnippet

snippet vec
\begin{pmatrix} $0 \end{pmatrix}
endsnippet

snippet sq
\sqrt{$0}
endsnippet

snippet memo
\memohr{$0}
endsnippet

snippet {
\\{$0\\}
endsnippet

snippet partial
\frac{\partial $0}{\partial }
endsnippet

snippet ttt
\texttt{$0}
endsnippet
